<header>
  <nav id="top">
    <h3>l'Encan de l'Espoir</h3>
    <ul>
      <li><a [routerLink]="['']">Accueil</a></li>
      <li *ngIf="isAdmin"><a [routerLink]="['/item']">Espace Admin</a></li>
      <li *ngIf="isAdmin"><a [routerLink]="['/rapport']">Rapport</a></li>
      <li><a [routerLink]="['/contact']">Contactez-nous</a></li>
      <li id="logout" (click)="deconnexion()">Deconnexion</li>

    </ul>
  </nav>
  <nav id="bottom">
    <div class="img">
      <a [routerLink]="['']">
        <img src="../../../../assets/images/logo.png" alt="" srcset="">
      </a>
    </div>
    <div id="text-banier">
      <h2>Donner pour l&rsquo;espoir, Donner pour la vie !</h2>
    </div>
  </nav>
</header>

