#container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
}
#b-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  height: auto;
  margin:30px auto;
  border-radius: 0.375rem;
}

#b-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 80%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 0.375rem;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.375rem;
}
#pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  border-radius: 0.375rem;
}
#b-alert{
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: auto;
  margin: 0 auto;
  visibility: hidden;
}
.btn-sub{
  height: 38px;
}

