<app-nav-menu></app-nav-menu>
<div id="b-container" class="shadow">
  <h5 style="margin-top: 10px;" class="text-center mb-4">Ajouter une enchère</h5>
  <div id="b-top">
    <div id="b-item">
      <div class="card" style="width: 18rem;" *ngIf="item">
        <img src="../../../../assets/images/89.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Commandité par : </strong>{{item.vendorName}}</li>
          <li class="list-group-item"><strong>Valeur : </strong>{{item.price}} $</li>
          <li class="list-group-item" *ngIf="bidByItem && client"><strong>Enchère actuelle : </strong>{{bidByItem.biddingPrice}} $ <br /> <strong>par :</strong> {{client.firstName}} {{client.lastName}}</li>
        </ul>
      </div>
    </div>
    <div id="b-bidding">
      <form>
        <div class="mb-3 has-validation">
          <label for="lastname" class="form-label">Nom*</label>
          <input (keydown)="lastnameValidat()" (keyup)="lastnameValidat()" (blur)="lastnameValidat()" type="text" name="lastname" value="" class="form-control b-lastname" aria-describedby="lastname-validat" id="lastname" placeholder="ex: jean" minlength="3" maxlength="45" size="45" required>
          <div id="lastname-validat" class="invalid-feedback">Veiller à entrer un nom.</div>
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">Prenom*</label>
          <input (keydown)="firstnameValidat()" (keyup)="firstnameValidat()" (blur)="firstnameValidat()" type="text" name="firstName" value="" class="form-control b-firstName" aria-describedby="firstName-validate" id="firstName" placeholder="ex: surette" minlength="3" maxlength="45" size="45" required>
          <div id="firstName-validat" class="invalid-feedback">Veiller à entrer un prénom.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Courriel*</label>
          <input (keydown)="emailValidat()" (keyup)="emailValidat()" (blur)="emailValidat()" type="email" name="email" value="" class="form-control b-email" id="email" aria-describedby="email-validate" title="Veuillez entrer un bon Email." placeholder="name@example.com" size="64" minlength="3" maxlength="64" required>
          <div id="email-validat" class="invalid-feedback">Veiller à entrer un nom.</div>
        </div>
        <div>
          <label for="phonenumber" class="form-label">Ton numero*</label>
          <div class="input-group mb-3">
            <span class="input-group-text">+1</span>
            <input (keydown)="phonenumberValidat()" (keyup)="phonenumberValidat()" (blur)="phonenumberValidat()" type="tel" id="phonenumber" minlength="10" maxlength="12" size="12" name="phonenumber" value=""
                   class="form-control b-phonenumber" aria-label="Amount (to the nearest dollar)" placeholder="555-666-7777"
                   aria-describedby="number-validate"
                   title="Le numéro doit être au format: 506 555 1212, 5065551212, 505-555-1212, 505.555.1212" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" required>
            <div id="number-validat" class="invalid-feedback">Veiller à entrer un numero.</div>
          </div>
        </div>
        <div>
          <label for="bidprice" class="form-label">Ton enchère*</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input (keydown)="bidpriceValidat()" (keyup)="bidpriceValidat()" (blur)="bidpriceValidat()" type="number" id="bidprice" name="bidprice" aria-describedby="bid-validate" value=""  max="1000000" step="any" class="form-control b-bidprice" aria-label="Amount (to the nearest dollar)" required>
            <div id="bid-validat" class="invalid-feedback">
              Entrez une enchère correcte.
              - Assurez-vous qu'elle soit pas négatif.
              - Assurez-vous qu'elle soit inférieur a 1 000 000.
              - Assurez-vous qu'elle est supérieure à l'enchère précèdent.
            </div>
            <span class="input-group-text">0.00</span>
          </div>
        </div>
        <div id="b-button">
          <span><button type="submit" class="btn btn-primary" (click)="bidding()">Enchérir</button></span>
          <span><button class="btn btn-primary btn-clear" (click)="clear()">Effacer</button></span>
          <i>Les champs Marques d'un * sont obligatoires.</i>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
