#b-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  height: auto;
  margin:30px auto;
  border-radius: 0.375rem;
}

#b-top{
  display: flex;
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 0.375rem;
}#b-item{
   display: flex;
   justify-content: center;
   width: 33%;
   height: auto;
   margin: 0 auto;
   border-radius: 0.375rem;
 }#b-bidding{
     width: 60%;
     height: auto;
     margin: 0 auto;
     border-radius: 0.375rem;
  }

#b-button{
  display: flex;
  gap: 30px;
}
