<p>contact works!</p>

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
        <title>Contactez-nous</title>
        <!-- <style>
            <%@include file="../../style/layoutStyle.css" %>
            <%@include file="../../style/indexStyle.css" %>
            #c-container{
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 50px;
                width: 60%;
                margin: 20px auto;
                border: 1px solid silver;
                border-radius: 5px;
            }
        </style> -->
    </head>
    <body>
        <div id="c-container">
            <div class="card mb-3">
                <img src="assets/ccnb-dieppe4.jpg" class="card-img-top" alt="image de ccnb Dieppe">
                <div class="card-body">
                    <h5 class="card-title">CCNB - Campus de Dieppe</h5>
                    <p class="card-text">505, rue du Collège Dieppe NB E1A 6X2</p>                
                    <p class="card-text"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fccnb.ca%2Fle-ccnb%2Fnos-campus%2Fcampus-de-dieppe&h=AT0CgsdCchGpHr3i7_NA8nGUc4FNKDb9fCM4R9dRWeINDBWjiwXb1Ql40DNsN6tuTXE6gI14w2_mVld0G0vwdpqv0BwlySuCNe-p4j6jffHMaknDMhOdYdqK_M7VVWEiVarzSelWZ8bav7YlAWZhuw">CCNB - Dieppe</a></p>
                    <p class="card-text"><small class="text-muted"><strong>Téléphone : </strong>(506) 856-2955</small></p>
                    <p class="card-text"><small class="text-muted"><strong>Courriel  : </strong><a href="mailto:pascal.melanson@ccnb.ca">pascal.melanson@ccnb.ca</a></small></p>
                </div>
            </div>
            <iframe style="width: 100%; height: 250px; border: 1px solid silver; border-radius: 5px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2766.536485863091!2d-64.74138538442119!3d46.1002158791137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca0beaeeeabfddd%3A0xfdd6d1952d0d1e93!2sCCNB%20-%20Campus%20de%20Dieppe!5e0!3m2!1sfr!2sca!4v1670009994822!5m2!1sfr!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- <%@include file="../../layout/footer.html" %> -->
    </body>
</html>