#contenaire
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
}
table
{
  background: white;
}
